<div class="page-header">
<h1>Bible Verses</h1>
</div>

<%= paginate @bible_verses %>
<table class="table table-bordered table-striped">
  <tr>
    <th><i class="fa fa-check"></i></th>
    <th>Ref</th>
    <th>Verse</th>        
  </tr>

<% @bible_verses.each do |bible_verse| %>
  <tr>
  	<td>
  		<% if bible_verse.selected %>
	  		<i class="fa fa-check"></i>
  		<% end %> 
  	</td>    
    <td class="span2">
    	<%= link_to bible_verse.reference, bible_verse_path(bible_verse) %>
    </td>
    <td><%= bible_verse.content %></td>    
  </tr>
<% end %>
</table>
<%= paginate @bible_verses %>
