<h1>Good Bible Verses</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th>Ref</th>
    <th>Verse</th>    
  </tr>

<% @bible_verses.each do |bible_verse| %>
  <tr>
    <td><%= bible_verse.reference %></td>
    <td><%= bible_verse.content %></td>    
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Bible verse', new_bible_verse_path %>
