<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-type' />
  </head>
    <body>
      <h2><%= @bible_verse.reference %> </h2>      
      <%= @bible_verse.content %>
    </body>
</html>
        
