<div class="page-header"></div>
<h1>Add a subscription</h1>
<br></br>
<h4>Select the days and the time you wish to receive a Bible verse</h4>
<div class="container">
      <div class="row">
          <div class="bs-docs-example" style="padding-bottom: 24px;">
              <a href="#" class="btn btn-large btn-danger" rel="popover" data-content="And here's some amazing content. It's very engaging. right?"
              data-original-title="A Title">Click to toggle popover</a>
          </div>
      </div>
    </div>
<%= render 'form' %>

