<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Phone:</b>
  <%= @user.phone %>
</p>

<p>
  <b>Carrier</b>
</p>

<p>
  <b>Time</b>
</p>

<p>
  <b>Days</b>
</p>



