<div class="vertical-center landing-hero type-k">
  <div class="center-inner">
    <h2 class="hero-title">
      Coming to Him,<br>
      one verse at a time
    </h2>
    <p class="alert">
      <%= @verse.content %><br><%= @verse.reference %>      
    </p>
    <p class="hero-lead">
    </p>
    <div class="hero-actions">
      <a href="/tours">
        <%= link_to "Sign Up Here", new_user_registration_path, class: "btn btn-large btn-success btn-get-started" %></a>
      </div>
    </div>
  </div>

  <div class="landing-section section-filled landing-hero-features">
    <div class="container">
      <div class="row-fluid">
        <ul class="unstyled features-list">
          <li class="span5 feature hero-feature feature-editor">
            <img class="feature-icon" src="https://s3-us-west-2.amazonaws.com/comingtohim/iPhone.png" style="margin-top: 6px;">
            <h4 class="feature-title">SMS verses</h4>
            <p class="feature-desc">
              <ul>
                <li>Receive an enlightening Bible verse straight to your phone everyday.</li>
                <li>Over 500 hand-picked New Testament verses ready to be dispensed.</li>
              </ul>
            </p>
          </li>

          <li class="span5 feature hero-feature feature-upload">
            <img class="feature-icon" src="https://s3-us-west-2.amazonaws.com/comingtohim/time.png" style="margin-top: 6px;">
            <h4 class="feature-title">Easy to schedule</h4>
            <p class="feature-desc">
              <ul>
                <li>Wake up to a verse: your alarm becomes your spiritual food.</li>
                <li>Or just a reminder to pray in your busy day.</li>
              </ul>
            </p>
          </li>
        </ul>
      </div>
    </div>
  </div>        
</div>
