// Place all the styles related to the UserSubscriptions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_subscription {
  border-bottom: solid 1px #CCC;
  padding: 5px 0;
}

.user_subscription p {
  margin: 4px 0;
}
